<header class="primary-color-bg-color">
  <div class="container-fluid">
    <div class="col xs-12 header com-pad-lr d-flex">
      <div class="left col xs-2 text-left">
        <img src="../assets/images/menu-icon.png" alt="" class="d-inline-block" (click)="menu_open($event)">
        <div class="overlay" (click)="close_menu($event)"></div>
        <div class="menu">
          <ul class="ul-unstyled">
            <li routerLinkActive="active">
              <a routerLink="home" (click)="close_menu($event)" class="/home">Home</a>
            </li>
            <li routerLinkActive="active">
              <a (click)="close_menu($event)" routerLink="/aboutme">About me</a>
            </li>
            <li routerLinkActive="active">
              <a (click)="close_menu($event)">Movies genre</a>
            </li>
            <li routerLinkActive="active">
              <a (click)="close_menu($event)">Top Movies of 2017</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="center col xs-8 text-center">
        <a routerLink="home">
          <img [src]="logo" alt="" class="img-responsive d-inline-block">
        </a>
      </div>
      <div class="right col xs-2 text-right">
        <img src="../assets/images/search-icon.png" alt="" class="d-inline-block" (click)="search_open()">
        <div class="search secondary-color-bg-color">
          <form action="#" class="clear-parent">
            <input type="text" class="col" placeholder="Search..">
            <button type="submit" class="col">
              <img src="../assets/images/search-icon.png" alt="">
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>

<div class="touch">

</div>

<table>
  <tr>
    <td width="33.3%">1</td>
    <td width="33.3%">2</td>
    <td width="33.3%">3</td>
  </tr>
  <tr>
    <td colspan="3">
      <table>
        <tr>
          <td width="" colspan="50%">1</td>
          <td width="" colspan="50%">2</td>
        </tr>
        <tr>
          <td colspan="33.3%">1</td>
          <td colspan="33.3%">2</td>
          <td colspan="33.3%">3</td>
          <!-- <td colspan="2" style="border: none;padding: 0;">
            <table class="" style="width: calc(100% + 1px);">
              <tr>
                <td width="33.3%" style="border-top: none;">1</td>
                <td width="33.3%" style="border-top: none;">2</td>
                <td width="33.3%" style="border-top: none;">3</td>
              </tr>
            </table>
          </td> -->
        </tr>
      </table>
      <table style="margin-top: 10px;">
        <tr>
          <td width="100%">
            1
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>