.slider-inner {
    white-space: nowrap;
    overflow-x: auto;
    .item {
        display: inline-block;
        width: 100%;
        margin-left: 5px;
        width: calc(100% - 20px);
        img {
            width: 100%;
        }
    }
}