<section id="home">
  <div class="container-fluid">
    <div class="col xs-12 com-pad-lr home">
      <!-- <h1>Welcome to Home</h1> -->
    </div>
  </div>
</section>


<section id="homeslider">
  <div class="container-fluid">
    <div class="col xs-12 homeslider">
      <div class="slider-inner">
        <div class="item">
          <img src="./assets/images/slider-images/img1.jpg" alt="" class="img-responsive">
        </div>
        <div class="item">
          <img src="./assets/images/slider-images/img2.jpg" alt="" class="img-responsive">
        </div>
        <div class="item">
          <img src="./assets/images/slider-images/img3.jpg" alt="" class="img-responsive">
        </div>
        <div class="item">
          <img src="./assets/images/slider-images/img4.jpg" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>